<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="formulario_login">
    <div class="logo_duoc">
      <img src="../../../assets/images/logo_duoc.png" alt="">
    </div>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="usuario" label="Nombre de Usuario" label-placement="floating" fill="solid" placeholder="Ingrese nombre de usuario"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="nueva_contrasena" label="Nueva Contraseña" label-placement="floating" fill="outline" type="password" placeholder="Ingrese contraseña"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="nueva_contrasena2" label="Confirme Contraseña" label-placement="floating" fill="outline" type="password" placeholder="Ingrese contraseña"></ion-input>
      </ion-item>

      <div class="ingresar_boton">
        <ion-button (click)="ir_login()">
          Cambiar Contraseña
        </ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>
