<ion-content [fullscreen]="true">
  <div class="logo_duoc">
    <img src="../../../assets/images/logo_duoc.png" alt="">
  </div>
  <ion-list>
    <ion-list-header>
      <ion-label>Asignaturas</ion-label>
    </ion-list-header>

    <div class="contenedor">
      <!-- Columna de asignaturas -->
      <div class="columna izquierda">
        <ion-card class="asignatura-card">
          <ion-card-content>
            <ion-label>Gestión de Proyectos</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asignatura-card">
          <ion-card-content>
            <ion-label>Base de Datos</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asignatura-card">
          <ion-card-content>
            <ion-label>Programación Web</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asignatura-card">
          <ion-card-content>
            <ion-label>Inglés Intermedio Alto</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asignatura-card">
          <ion-card-content>
            <ion-label>Arquitectura</ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card class="asignatura-card">
          <ion-card-content>
            <ion-label>Arquitectura</ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card class="asignatura-card">
          <ion-card-content>
            <ion-label>Arquitectura</ion-label>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- Columna de asistencia (solo porcentaje) -->
      <div class="columna derecha">
        <ion-card class="asistencia-card">
          <ion-card-content>
            <ion-label>80%</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asistencia-card">
          <ion-card-content>
            <ion-label>90%</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asistencia-card">
          <ion-card-content>
            <ion-label>85%</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asistencia-card">
          <ion-card-content>
            <ion-label>95%</ion-label>
          </ion-card-content>
        </ion-card>

        <ion-card class="asistencia-card">
          <ion-card-content>
            <ion-label>70%</ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card class="asistencia-card">
          <ion-card-content>
            <ion-label>70%</ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card class="asistencia-card">
          <ion-card-content>
            <ion-label>70%</ion-label>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-list>
  <ion-button class="volver-btn" (click)="volver()">
    Volver
  </ion-button>
</ion-content>
